@model IEnumerable<ODN.SalidaEmpleado>

@{
    ViewBag.Title = "Index";
}

<br />
<h3 class="text-center">Salida de empleados </h3>

@using (Html.BeginForm("Index", "SalidaMEmp", FormMethod.Get))
{

    <b>Buscar por:</b>
    @Html.RadioButton("buscarPor", "Mes", true) <text>Mes</text>
    @Html.RadioButton("buscarPor", "Anio")<text>Año</text>
    <p>
        <b>Buscar por:</b> @Html.TextBox("buscar") <input type="submit" value="buscar" class="btn btn-primary" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.CodigoEmp)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.CodigoEmp)
            </td>
        </tr>
    }

</table>
