@model IEnumerable<ODN.Departamento>

@{
    ViewBag.Title = "Index";
}
<br />
<h3 class="text-center">Departamentos</h3>
<hr />
<table class="table table-bordered table-responsive table-hover table-striped">
    <tr class="text-primary active">
        <th>
            @Html.DisplayNameFor(model => model.CodigoDep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado1.CodigoEmp)
        </th>
        <th>
            @Html.ActionLink("Añadir", "Create", new { area = "Admin" }, new { @class = "btn btn-primary" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado1.CodigoEmp)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new{@class ="btn btn-danger"})
            </td>
        </tr>
    }

</table>

@{
    double TotalPage = @ViewBag.TotalPages;
}

@for (int i = 1; i <= TotalPage; i++)
{
    if (i == ViewBag.Page)
    {
        <b>@Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag == null ? "Nombre" : ViewBag.SortBy), Page = i }, new { @class = "btn btn-primary" })</b>
    }
    else
    {
        @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "Nombre" : ViewBag.SortBy), Page = i }, new { @class = "btn btn-primary" })
    }
}
