@model IEnumerable<ODN.Licencia>

@{
    ViewBag.Title = "Index";
}
<br />
<h3 class="text-center">Licencias</h3>
<hr />
@if (TempData["Msg"] != null)
{
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">x</button>
        @TempData["Msg"].ToString()
    </div>
}
<table class="table table-bordered table-hover table-responsive table-striped">
    <tr class="text-primary active">
        <th>
            @Html.DisplayNameFor(model => model.Desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th>
            @Html.DisplayName("Empleado")
        </th>
        <th>
            @Html.ActionLink("Agregar", "Create", "Licencia", new { @class = "btn btn-primary col-md-6" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Desde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.CodigoEmp)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>


@{
    double TotalPage = @ViewBag.TotalPages;
}

@for (int i = 1; i <= TotalPage; i++)
{
    if (i == ViewBag.Page)
    {
        <b>@Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag == null ? "Nombre" : ViewBag.SortBy), Page = i }, new { @class = "btn btn-primary" })</b>
    }
    else
    {
        @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "Nombre" : ViewBag.SortBy), Page = i }, new { @class = "btn btn-primary" })
    }
}