@using System.IdentityModel.Protocols.WSTrust
@model IEnumerable<ODN.Empleado>

@{
    ViewBag.Title = "Index";
}
<br/>
<h3 class="text-center">Empleados</h3>

<hr/>
<script>
    $(document).ready(function () {

        $(document).ajaxStart(function () {
            $("#cargando").show();
        });

        $(document).ajaxStop(function () {
            $("#cargando").hide();
        });
</script>

@using (Html.BeginForm("Index", "EmpleadoI", FormMethod.Get))
{

    <b>Buscar por:</b>
    @Html.RadioButton("buscarPor", "Nombre", true) <text>Nombre</text>
    @Html.RadioButton("buscarPor", "Departamento")<text>Departamento</text>  
    <br/>                                                  
    <p>
        <b>Buscar por:</b> @Html.TextBox("buscar") <input type="submit" value="buscar" class="btn btn-primary" />
    </p>
}

<div id="cargando" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cargando...</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<ul class="nav nav-pills">
    @if (ViewBag.Estatus == "A")
    {
        <li class="active">@Html.ActionLink("Activos", "Index", new { Estatus = "A" })</li>
    }
    else
    {
        <li>@Html.ActionLink("Activos", "Index", new { Estatus = "A" })</li>
    }
    @if (ViewBag.Estatus == "I")
    {
        <li class="active">@Html.ActionLink("Inactivos", "Index", new { Estatus = "I" })</li>
    }
    else
    {
        <li>@Html.ActionLink("Inactivos", "Index", new { Estatus = "I" })</li>
    }
</ul>

<br/>
<table class="table table-bordered table-responsive table-hover table-striped">
    <tr class="text-primary active">
        <th>
            @Html.DisplayNameFor(model => model.CodigoEmp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo.CodigoCargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.CodigoDep)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEmp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.CodigoCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.CodigoDep)
            </td>
        </tr>
    }

</table>

