@model IEnumerable<ODN.Nomina>

@{
    ViewBag.Title = "Index";
}

<h3 class="text-center">Lista de nóminas</h3>
<hr />

<table class="table table-bordered table-responsive table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.ActionLink("Agregar", "Create", "Nomina", new { @class = "btn btn-primary" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes.Descripcion)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new{@class ="btn btn-info"})
            </td>
        </tr>
    }
</table>


@{
    double TotalPage = @ViewBag.TotalPages;
}

@for (int i = 1; i <= TotalPage; i++)
{
    if (i == ViewBag.Page)
    {
        <b>@Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag == null ? "Nombre" : ViewBag.SortBy), Page = i }, new { @class = "btn btn-primary" })</b>
    }
    else
    {
        @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "Nombre" : ViewBag.SortBy), Page = i }, new { @class = "btn btn-primary" })
    }
}

