@model IEnumerable<ODN.Departamento>

@{
    ViewBag.Title = "Index";
}
<br/>
<h3 class="text-center">Departamentos</h3>


<table class="table table-hover table-striped table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoDep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado1.CodigoEmp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDep)
            </td>
            <td>
                (@Html.DisplayFor(modelItem => item.Empleado1.Nombre)) 
                (@Html.DisplayFor(modelItem => item.Empleado1.Apellido))
                (@Html.DisplayFor(modelItem => item.Empleado1.CodigoEmp))
            </td>
        </tr>
    }

</table>


@{
    double TotalPage = @ViewBag.TotalPages;
}

@for (int i = 1; i <= TotalPage; i++)
{
    if (i == ViewBag.Page)
    {
        <b>@Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag == null ? "Nombre" : ViewBag.SortBy), Page = i }, new { @class = "btn btn-primary" })</b>
    }
    else
    {
        @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "Nombre" : ViewBag.SortBy), Page = i }, new { @class = "btn btn-primary" })
    }
}